
<html>
  <head>
    <title>Mi aplicación Web</title>
  </head>
  <body>
    <div id="banner">
      Bienvenidos!!
    </div>
    
    <div id="contenedorPrincipal">

      <div id="formBusquedaPais">
        <div>
          <mat-form-field>
            <mat-label>Buscar Pais</mat-label>
            <input matInput type="text" placeholder="Ingrsar Pais" [(ngModel)]="nombrePais" >
          </mat-form-field>
       </div>
       <button mat-flat-button  color="primary" (click)="getResultado(nombrePais)" >Buscar Pais</button>
        <div id="mostrarResultados" *ngIf="mostrarInfo">
          <mat-card class="detallePais">
            <mat-card-header>
              <mat-card-title>Nombre Oficial: {{pais}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <label>Capital: </label>
              <div *ngFor="let capital of capitales">
                <label>{{capital}}</label>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        
      </div>

      <div id="contenedorTodosPaises">
        <button mat-flat-button  color="primary" (click)="obtenetTodosPaises()" >Ver todos los paises</button>
        <mat-list role="list" *ngFor="let paisa of arrayPaises">
          <mat-list-item role="listitem">{{paisa.name.common}}</mat-list-item>
        </mat-list>
      </div>

      <div *ngIf="mostrarError">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Aviso</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <label>Ocurrio un inconveniente con la busqueda</label>
          </mat-card-content>
         </mat-card>
      </div>


    </div>
  </body>
</html>